<div id="navigation" >
  <ol class="breadcrumb">
    <li ><a ng-click="includeHtml('views/home.html')">Home</a></li>
    <li  >Handbook</</li>
    <li class="active">Basic Type</</li>
  </ol>
<div>
<h4 class="text text-primary">Basic Types</h4>
<p>For programs to be useful, we need to be able to work with some of the simplest units of data: numbers, strings, structures, boolean values,
and the like. In TypeScript, we support much the same types as you would expected in JavaScript,
with a convenient enumeration type thrown in to help things along.</p>

<h5 class="text text-primary">Boolean</h5>
<p>The most basic datatype is the simple true/false value, which JavaScript and TypeScript (as well as other languages) call a 'boolean' value.</p>
<div class="alert alert-info">var isDone: boolean = false;</div>
